* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* --- DEFAULT SETTINGS ---  */
body {
  background-color: #ebebeb;
  max-width: 100vw;
}

.content-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  border-style: none;
  height: 40px;
  width: 150px;
  border-radius: 40px;
  background-color: white;
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 60px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1), 2px 3px 7px 0 rgba(0, 0, 0, 0.1);
}

nav {
  display: none;
}

ul > li {
  display: inline-block;
  list-style: none;
  padding: 3vh 6vw;
}



/* --- CONTACT  STYLING --- */

/* CONTACT HEADER */
.contact-header{
  height: 70vh;
  background-image: url("/img/man-baby.png");
  background-repeat: no-repeat;
  background-position: right 20px bottom;
  background-size: 320px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.contact-header h1{
  font-size: 4rem;
  font-weight: 700;
}
/* CONTACT NAVBAR*/
.contact-nav{
  display: flex;
  justify-content: center;

}

.contact-nav ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin:0;
}


.contact-nav ul li {
width: 50vw;
padding: 30px 0;
margin-right: 0px;
}

.contact-nav ul li a {
  font-size: 0.9rem;
}

/* ---CONTACT FORM --- */
#mind-form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  padding: 40px;
  max-width: 90vw;
  padding-bottom: 250px;
}

#mind-form h2{
  text-align: left;
  font-size: 4rem;
 
}

#mind-form label{

  padding-left: 10px;
  color:rgba(255,255,255,0.9);
  font-size: 1.3rem;
  padding-bottom: 5px;
}

#mind-form input,
#mind-form textarea{
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
}

#mind-form button{
  align-self: flex-end;
  text-align: center;
 height: 50px;

}

/* CONTACT MAP AREA */
.map {
  display: flex;
  height: 100vw;
  background-image: url("https://www.syracuse.com/resizer/DOo_R6Fv5P9wyWiR_fgKmcE7QBc=/1280x0/smart/advancelocal-adapter-image-uploads.s3.amazonaws.com/image.syracuse.com/home/syr-media/width2048/img/entertainment_impact/photo/pac-man-google-maps-97e834ed602cf61b.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
}

.map .invitation{
  position: relative;
  padding: 30px;
  background-color: #fab131;
  height: 300px;
  width: 600px;
  max-width: 80vw;
  top: -150px;
}

.map .invitation h2{
  font-size: 58px;
  text-align: center;
}

.map .invitation p{
  color: white;
  padding-left: 20px;
  font-size: 20px;
  line-height: 40px;
}

/*--CARDS DEFAULTS---*/
.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.card {
  flex: 0 0 350px;
  background-color: #f2f2f2;
  margin: 50px;
  border-radius: 7px;
  padding: 0 5px;
  height: 420px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1), 2px 3px 7px 0 rgba(0, 0, 0, 0.1);
}

.card h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.card p {
  font-size: 0.9rem;
  padding: 2px 20px;
  text-align: center;
}

.img-container {
  position: relative;
  height: 230px;
  min-height: 150px;
  border-radius: 7px;
  width: 330px;
  transform-origin: 4rem;
  top: -8%;
  overflow: hidden;
}

img {
  position: relative;
  max-width: 350px;
  height: 270px;
  left: 50%;
  transform: translate(-50%, 7%);
}

.img-card-adult {
  height: 550px;
  transform: translate(-50%, 9%);
}

.img-card-old {
  height: 550px;
  transform: translate(-50%, 8%);
}
.bottom-bar {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.bottom-bar a {
  font-size: 20px;
}
/* MOBILE HEADER AREA*/
.header-grid {
  display: grid;
  grid-template-areas:
    "a"
    "a"
    "b"
    "c";
  height: 200vh;
}
.header-a {
  grid-area: a;
  background-image: url("./img/family.png");
  background-size: 52vh;
  background-repeat: no-repeat;
  background-position: right 20px bottom;
  padding-bottom: 200px;

  padding-left: 10px;
  height: 100vh;
}

.header-b {
  grid-area: b;
  text-align: center;
  height: 50vh;
}
.header-c {
  grid-area: c;
  text-align: center;
  height: 50vh;
}

.header-a p {
  line-height: 2rem;
  font-size: 1.3rem;
}

.header-a h1 {
  font-size: 4rem;
}

.header-b p,
.header-c p {
  font-size: 0.8rem;
  font-weight: 500;
  opacity: 0.7;
}

/*---MAIN AREA --- */
.main-content h2 {
  font-size: 2.5rem;
}

.safety {
  display: flex;
  flex-direction: column;
  padding: 60px 20px 0 20px;
}

.safety h2 {
  font-size: 2.8rem;
  margin-bottom: 30px;
}

.safety p {
  line-height: 2rem;
  font-weight: 500;
  opacity: 0.8;
}

.safety .card p {
  color: #7c7c7c;
  line-height: 1.2rem;
  font-weight: 500;
  opacity: 0.8;

}
.safety button {
}

.main-btn {
  display: none;
}

.about {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  padding: 50px 70px;
}

.container-big {
  width: 550px;
  text-align: center;
}

.container-big p {
  padding: 20px;
}
.container-big h2 {
  padding-bottom: 15px;
}

/*--HOW IT WORKS --- */
.how {
  display: flex;
  flex-wrap: wrap;

}

.how div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 33vh;
  width: 100%;
}

.how div h2 {
  color: #000000;
  font-size: 4rem;
}

.how div h3 {
  position: absolute;
  top: 10%;
  left: 10%;
  color: rgba(0, 0, 0, 0.5);
  font-size: 2.5rem;
}

.how div p {
  max-width: 79%;
  font-size: 1.7rem;
  font-weight: 500;
  opacity: 0.7;
}

/*--- DESKTOP--- */

@media screen and (min-width: 768px) {
  /* --- HEADER SECITON*/
  .header-grid {
    display: grid;
    grid-template-areas:
      "a b"
      "a c";
    height: 91.7vh;
    margin-bottom: 8.3vh;
  }

  .container {
    width: 400px;
  }

  .header-a {
    grid-area: a;
    background-image: url("./img/family.png");
    background-size: 52vh;
    background-repeat: no-repeat;
    background-position: right 20px bottom;
    padding-bottom: 130px;

    padding-left: 10px;
  }

  .header-b {
    grid-area: b;
    text-align: center;
  }
  .header-c {
    grid-area: c;
    text-align: center;
  }

  .header-a p {
    line-height: 1.8rem;
  }

  .header-b p,
  .header-c p {
    font-size: 0.8rem;
    font-weight: 500;
    opacity: 0.7;
  }

  /*----- NAVBAR-------*/
  nav {
    display: flex;
    justify-content: center;
  }

 
  /*-----MAIN CONTENT-----*/
  main {
    height: 180vh;
  }

  .main-content {
    height: 90vh;
  }

  .main-content h2 {
    font-size: 2.5rem;
  }

  .safety {
    display: grid;
    grid-template-areas:
      "a b"
      "c b";
    justify-content: space-evenly;
    align-content: flex-start;
    padding-top: 110px;
  }

  .safety h2 {
    grid-area: a;
    margin-right: 13vw;
  }

  .safety p {
    grid-area: b;
    margin-right: 0px;

    line-height: 1.6rem;
  }
  .safety button {
    grid-area: c;
  }
  .main-btn {
    display: block;
  }

  .about {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    padding-bottom: 80px;
  }

  .container-big {
    width: 550px;
    text-align: center;
  }

  .container-big p {
    padding: 20px;
  }
  .container-big h2 {
    padding-bottom: 15px;
  }

  .cards {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    max-width: 100vw;
    top: 193vh;
    left: 50vw;
    transform: translate(-50%, -50%);
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1),
      2px 3px 7px 0 rgba(0, 0, 0, 0.1);
  }
  /*---SECTION: HOW IT WORKS----*/
  .how {
    display: grid;
    max-height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .how div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30vw;
    max-height: 50vh;
  }

  .how div h2 {
    color: #000000;
    font-size: 3rem;
  }

  .how div h3 {
    position: absolute;
    top: 10%;
    left: 10%;
    color: rgba(0, 0, 0, 0.5);
    font-size: 2.2rem;
  }

  .how div p {
    max-width: 79%;
    font-size: 1.4rem;
    font-weight: 500;
    opacity: 0.7;
  }
}

/*-----BACKGROUND COLORS ON ELEMENTS------ */
.bg-blue {
  background-color: #c7ddea;
}

.bg-red {
  background-color: #f17949;
}

.bg-yellow {
  background-color: #fab131;
}

.bg-gray {
  background-color: #a9a19e;
}

.bg-light-gray {
  background-color: #ebebeb;
}

.bg-white {
  background-color: #ffffff;
}

/*-----FONT STYLES-----*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Frank Ruhl Libre", serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  color: white;
  font-size: 2.3rem;
}

p,
a,
label,
input,
textarea {
  font-family: "Fira Sans", sans-serif;
  font-size: 2.3vh;
}

.white-text {
  color: white;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.8rem;
  font-weight: 500;
}

.active {
  color: black;
}
